/* Proto Styles
   All modules use rd.css primitives exclusively.
   No legacy variables - use rd.css classes and --fg/--bg/--prism only. */

@import url('./layout.css');
@import url('./panels.css');
@import url('./vfs.css');
@import url('./history.css');
@import url('./components.css');
@import url('./inline-chat.css');
@import url('./hitl.css');
@import url('./responsive.css');
